
.nodeco{
    text-decoration: none !important;
    color: #6c757d !important;
}
.page-footer {
    justify-content: center;
    color: #fff;
    font-size: .875rem;    
  
}

.services p:hover {
    color: #a365f7;
}
.social-links a:hover{
    color: #a365f7 !important;
}

footer {
    display: block;
    background-image: url('../../../../assets/footerbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 125px;
    /* margin-top: 100px; */

}
.footer-logo{
    width: 175px;
    margin-bottom: 10px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.footer-link, .footer-link:hover {
    color: #6c757d;
}
.footer-link {
    padding: 0.5rem;
    text-decoration: none;
    border: none;
    background: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #051b35;
    text-decoration: underline;
}
.btn-clr{
    color: #fff;
}

.footer-link {
    padding: 0.5rem;
    text-decoration: none;
    border: none;
    background: none;
}
.icons{
    gap: 36px;
    cursor: pointer;
}
.icons i:hover{
    transform: translateY(-1px);
}
.numberinput{
    width: 60%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin-right: 10px;
}
.social-links a{
    min-width: 29px !important;
    color: #fff !important;
}
.footer-icon{
    color: #fff;
    font-size: 20px;
    flex: 0 0 3rem;
}
.contact {
    gap: 40px;
}
.services p{
    color: #fff;
}
.sbbutton{
    min-width: 100px !important;
}
.numberinput::placeholder{
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.footer-in-mainpage footer{
    background-color: #f7f4fb;
}
@media screen and (min-width: 1685px) {
    div#root {
        position: relative;
        min-height: 100vh;
    }
    .page-footer{
        left: 0;
        width: 100% ;
        bottom: 0;
    }
  
}
@media screen and (max-width: 1399.98px) {
    .footer-in-mainpage footer ,footer{
        background-image: none;
        background-color: rgba(0, 0, 0, 0.911);
        padding-top: 30px;
    }
}
@media(max-width: 991.98px){
    footer {
        padding-top: 30px;
    }
     
}