
.nodeco{
    text-decoration: none !important;
    color: #6c757d !important;
}


.page-footer {
    justify-content: center;
    padding-top: 66px;
    color: #fff;
    background-color: #383838;
    position: relative;
    font-size: .875rem;
}
footer {
    display: block;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.footer-link, .footer-link:hover {
    color: #6c757d;
}
.footer-link {
    padding: 0.5rem;
    text-decoration: none;
    border: none;
    background: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #051b35;
    text-decoration: underline;
}
.btn-clr{
    color: #fff;
}

.footer-link {
    padding: 0.5rem;
    text-decoration: none;
    border: none;
    background: none;
}
.page-footer:after {
    content: " ";
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='50px' fill='%23383838' viewBox='0 0 100 100' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='none'%3E%3Cpath className='footer-shape-fill' d='M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z'%3E%3C/path%3E%3C/svg%3E");
    height: 50px;
    background-repeat: no-repeat;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
@media screen and (min-width: 993px) {
    .page-footer{
        /* position: fixed !important; */
        width: 100% ;
        bottom: 0;
    }
}
 