
.nodeco{
    text-decoration: none !important;
    color: #6c757d !important;
}


.page-footer {
    justify-content: center;
    padding-top: 66px;
    color: #fff;
    font-size: .875rem;
  
}
footer {
    display: block;
    background-image: url('../../../../assets/footerbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 175px;
    margin-top: 100px;

}
.footer-logo{
    width: 175px;
    margin-bottom: 10px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.footer-link, .footer-link:hover {
    color: #6c757d;
}
.footer-link {
    padding: 0.5rem;
    text-decoration: none;
    border: none;
    background: none;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
a {
    color: #051b35;
    text-decoration: underline;
}
.btn-clr{
    color: #fff;
}

.footer-link {
    padding: 0.5rem;
    text-decoration: none;
    border: none;
    background: none;
}
.icons{
    gap: 36px;
    cursor: pointer;
}
.icons i:hover{
    transform: translateY(-1px);
}
.numberinput{
    width: 60%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin-right: 10px;
}
.contact {
    gap: 40px;
}
.sbbutton{
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(96, 16, 177);
}
.numberinput::placeholder{
    color: white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media screen and (min-width: 1685px) {
    div#root {
        position: relative;
        min-height: 100vh;
        padding-bottom: 130px;
    }
    .page-footer{
        position: absolute !important;
        left: 0;
        width: 100% ;
        bottom: 0;
    }
}
@media screen and (max-width: 1399.98px) {
    footer {
        background-image: none;
        background-color: rgba(0, 0, 0, 0.911);
    }
}