/* .hero{
    padding-top: 40px;
} */
/* .page-footer {
    bottom: 0;
    justify-content: center;
    padding-top: 66px;
    color: #fff;
    background-color: #383838;
    position: relative;
    font-size: .875rem;
    width: 100%;
} */

.in{
    opacity: 1;
    border-bottom: none !important;
}
.tooltip-arrow{
    display: none !important;
}